body{
    margin: 0;
}

.qb__header {
    background-color: black;
    height: 100px;
    width: 95%;
    position: fixed;
    top: 0;

}

.main{
    background-color: lightgreen;
    width: 100%;
    height: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

/* МЕДИА ЗАПРОСЫ */

@media screen and (min-width: 360px) {
    .main {
        max-width: 340px;
    }
}

@media screen and (min-width: 479px) {
    .main {
        max-width: 420px;
    }
}

@media (min-width: 576px){
    .main {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .main {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .main {
        max-width: 960px;
    }
}