body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.qb__header {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    top: 0;
}

.h__50 {
    height: 50px;
    line-height: 50px;
}

.h__75 {
    height: 75px;
    line-height: 75px;
}

.h__100 {
    height: 100px;
    line-height: 100px;
}

.h__125 {
    height: 125px;
    line-height: 125px;
}

.h__150 {
    height: 150px;
    line-height: 150px;
}

.roll-in-action-50 {
    -webkit-animation: roll-in-50 0.5s;
}

.roll-out-action-50 {
    -webkit-animation: roll-out-50 0.5s;
}

.roll-in-action-75 {
    -webkit-animation: roll-in-75 0.5s;
}

.roll-out-action-75 {
    -webkit-animation: roll-out-75 0.5s;
}

.roll-in-action-100 {
    -webkit-animation: roll-in-100 0.5s;
}

.roll-out-action-100 {
    -webkit-animation: roll-out-100 0.5s;
}

.roll-in-action-125 {
    -webkit-animation: roll-in-125 0.5s;
}

.roll-out-action-125 {
    -webkit-animation: roll-out-125 0.5s;
}

.roll-in-action-150 {
    -webkit-animation: roll-in-150 0.5s;
}

.roll-out-action-150 {
    -webkit-animation: roll-out-150 0.5s;
}

@-webkit-keyframes roll-in-50{
    0%{height:0px}
    100%{height:50px}
}

@-webkit-keyframes roll-out-50{
    0%{height:50px}
    100%{height:0px}
}

@-webkit-keyframes roll-in-75{
    0%{height:0px}
    100%{height:75px}
}

@-webkit-keyframes roll-out-75{
    0%{height:75px}
    100%{height:0px}
}

@-webkit-keyframes roll-in-100{
    0%{height:0px}
    100%{height:100px}
}

@-webkit-keyframes roll-out-100{
    0%{height:100px}
    100%{height:0px}
}

@-webkit-keyframes roll-in-125{
    0%{height:0px}
    100%{height:125px}
}

@-webkit-keyframes roll-out-125{
    0%{height:125px}
    100%{height:0px}
}

@-webkit-keyframes roll-in-150{
    0%{height:0px}
    100%{height:150px}
}

@-webkit-keyframes roll-out-150{
    0%{height:150px}
    100%{height:0px}
}

/* СОДЕРЖИМОЕ HEADER */

.header__list{
    margin: 0;
    display: inline-block;
}

/* ПОЗИЦИОНИРОВАНИЕ СПИСКА В ХЕДДЕРЕ */
.header__list-right{
    float: right;
}

.header__list__element{
    display: inline;
    text-decoration: none;
}

.header__list__element{
    color: aqua;
    margin-right: 20px;
}

.header__list__element__link{
    font-size: 23px;
    color: #000;
    text-decoration: none;
}


/* КНОПКА АДАПТИВНОГО HEADER */

.header__drop__btnblock{
    display: inline-block;
    float: right;
    margin-right: 30px;
}

.header__drop__button{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: lightgoldenrodyellow;
}


/* КОНТЕЙНЕР MAIN С ОСНОВНЫМ КОНТЕНТОМ */

.main{
    background-color: lightgreen;
    width: 100%;
    height: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

/* МЕДИА ЗАПРОСЫ */

@media screen and (max-width: 360px) {
    .main {
        min-width: 340px;
    }
}

@media screen and (max-width: 479px) {
    .main {
        min-width: 420px;
    }
}

@media (max-width: 576px){
    .main {
        min-width: 540px;
    }
    .header__drop__btnblock{
        display: inline;
    }
    .header__list{
        display: none;
    }
}

@media (min-width: 576px){
    .header__drop__btnblock{
        display: none;
    }
}

@media (max-width: 768px){
    .main {
        min-width: 720px;
    }
    
}

@media (max-width: 992px){
    .main {
        min-width: 960px;
    }
}